html {
    background-color: #23404B;
}

.imgSize {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30%;
}
.bodyBackground {
    background-image: linear-gradient(to right, rgb(218,200,162), rgb(67,85,83));
    color: white;
}
.btn {
    color: white;
    border-color: white;
    border-radius: 10px;
    font-weight: 600;
}

p {
    font-weight: 600;
}
 
